* {
    margin: 0;
    padding: 0;
    
}
.cuerpom{
    display:none;
}
.titulo, .h1{
    padding-top:10% ;
    width: 100%;
    text-align: center;
   font-size: xx-large;
}


.cuerpo{
    display: flex;
    justify-content: flex-start;
    height: auto;
}



.actividadesa{
width: 70%;
height: 100%;
display: flex;
flex-direction: column;
align-items: center;
}

.tarjeta-actividad{
    background-color: rgb(240, 240, 240);
    margin-top: 10%;
    width: 90%;
    height: 45vh;
    border-radius: 5px;
    box-shadow: rgb(61, 62, 63) 3px 3px 6px 0px ;
    display: flex;
    justify-content: flex-start;
}
.derecha{
width: 55%;
border-top-right-radius: 5px;
border-bottom-right-radius:5px ;
display: flex;
align-items: center;
flex-direction: column;
}
.texto{
margin-top: 5%;
width: 90%;
height: 85%;
}

.boton{
margin-left: 30%;
width:60% ;    
height: 15%;
display: flex;
justify-content: space-around;
}
.btn{
background-color: #27649e;
height: 80%;
width: auto;
border-radius:3px;
text-align: left;
display: flex;
align-items: center;
padding-left: 2%;
display:flex;
transition: transform 0.3s ease; 
}
.btn, .p{
color: white;
text-decoration: none !important;
font-size: 15px;

}

.izquierda{
width: 45%;
display: flex;
flex-direction: column !important; 
align-items: center !important;
}
.imagenac{
border-radius: 5px;
width: 100%;
height: 90%;
align-items: center;
margin: 1%;

}
    
.fecha{
 width: 100%;
height: 10%;
border-bottom-left-radius:5px ;
align-items: center;
text-align: center;
}



.eventos{
width: 30%;
height: 100%;
display: flex;
align-items: center;
flex-direction: column;
}

.tarjeta-evento{
border-radius: 5px;
margin-top:22% ;
width: 80%;
height: auto;
box-shadow: rgb(61, 62, 63) 3px 3px 6px 0px ;
}

.imagene{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 100%;
    height: auto;
 
}
.tipo{
margin-top:5%;
margin-left: 5%;
opacity:0.5;
font-size: 15px;
margin-bottom:5% ;

}

.textoe{
   
margin: 5%;
height:auto;
}

.fechae{
text-align: end;
margin-right: 5%;
margin-bottom: 5%;

}

.btn:hover {
    transform: scale(1.1); /* Escala el ícono al 120% */
  }
 





  

@media screen and (min-width:700px) and (max-width:900px){
.cuerpom{
     display:none;
}
.fecha{
    font-size: 13px;
}
.btn{

height: 80%;
width: auto;

}  
.boton{
margin: 10%;
width:85%     

}


}

@media screen and (min-width:636px) and (max-width:700px){

    .cuerpom{
        display:none;
    }
.titulo, .h1{
     padding-top:20% ;
   
    font-size: larger;
}
    
.fecha{
    font-size: 10px;
}
 .btn{

    height: 50%;
    width: auto;

}  
.boton{
width:90%;    
margin-left: 5%;
}

  
        }


@media screen and (min-width:0px) and (max-width:636px){


.cuerpo{
    display: none;
}
.titulo, .h1{
    padding-top:25% ;
  
   font-size: larger;
}
   
.cuerpom{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    width: 100%;
}


.actividadesam{
width: 90%;
height: 100%;
display: flex;
flex-direction: column;
align-items: center;
}

.tarjeta-actividadm{
    background-color: rgb(240, 240, 240);
    margin-top: 10%;
    width: 90%;
    height:90vh;
    border-radius: 5px;
    box-shadow: rgb(61, 62, 63) 3px 3px 6px 0px ;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10%;
}
.titulom{
margin-top: 5%;
width: 100%;
border-top-right-radius: 5px;
border-bottom-right-radius:5px ;
display: flex;
align-items: center;
flex-direction: column;
}
.textom{
width: 90%;
height: 60%;
}

.boton{
margin-left:0%;
width:79% ;    
height: 15%;
display: flex;
justify-content: space-around;
margin-bottom: 2%;
}
.btn{
background-color: #27649e;
height: 80%;
width: auto;
border-radius:3px;
text-align: left;
display: flex;
align-items: center;
padding-left: 2%;
display:flex;
transition: transform 0.3s ease; 

}
.btnm, .p{
color: white;
text-decoration: none;
font-size: 15px;

}


.imagenacm{
border-radius: 5px;
width: 90%;
height: 80%;
align-items: center;
margin:0 ;
display: flex;
justify-content: center;
}
    
.fecham{
 width: 100%;
height: 10%;
border-bottom-left-radius:5px ;
align-items: center;
text-align: center;
}



.eventos{
width: 80%;
height: 100%;
display: flex;
align-items: center;
flex-direction: column;}



.tarjeta-evento{
border-radius: 5px;
margin-top:22% ;
width: 80%;
height: auto;
box-shadow: rgb(61, 62, 63) 3px 3px 6px 0px ;
margin-bottom:10% ;
}

.imagene{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 100%;
    height: auto;
 
}
.tipo{
margin-top:5%;
margin-left: 5%;
opacity:0.5;
font-size: 15px;
margin-bottom:5% ;

}

.textoe{
   
margin: 5%;
height:auto;
}

.fechae{
text-align: center;
margin-bottom: 5%;

}
                }
        
        

