@charset "UTF-8";


@media (prefers-color-scheme: dark) {
  :root {
    --negro: #ececec;
    --blanco: #303030;
    
  }
}







html {
  scroll-behavior: smooth;
}








.carrousel {
  width: 100%;
  max-width: 120em;
  transition: all 0.4s ease;
  overflow: hidden;
  background-color: #efefef;
}


.carrousel .grande {
  width: 200%;
  HEIGHT: 64vh;
  z-index: 10!important;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  transition: all 0.5s ease;
  transform: translateX(0%);
}


.carrousel .imgc {
  width: calc( 100% / 2);
  min-height: 80vh;
  transition: all 0.4s ease;
  min-width: 50%;
  object-fit: cover;
}

.carrousel .puntos {
  width: 100%;
  padding: 0.4em;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 20 !important;

}

ul {
  list-style: none;
}
.carrousel .punto {
  width: 1em;
  height: 1em;
  margin: 1em 1em 0;
transition: all 0.4s ease;
  border-radius: 1em;
  background:#a19f9fbe ;
 
}

.carrousel .punto.activo {
  background-color: rgb(255, 255, 255);
}



  

@media screen and (min-width:0px) and (max-width:900px){

.carrousel .punto{
  margin-top: -10%;
}
.carrousel .grande{
  height: 50vh;
}
.carrousel .imgc {
  min-width: none;
  min-height: 50vh;
}

}

@media screen and(min-width: 0px) and (max-width: 400px){


.carrousel .punto{
  margin-top: -10%;
}
.carrousel .grande{
  height: 50vh;
}
.carrousel .imgc {
  min-width: none;
  min-height: 50vh;
}
  
}