/*tabla*/

.tabla{
    display: flex;
    width: 80vw;
    height: auto;
    flex-direction: column;
}
.tabla .cont_h1{
    display: flex;
    width: 80vw;
    height: 20vh;
    text-align: center;
    color: #2F5386;
    font-size: 40px;
}
.cont_h1 .h1{ 
    margin: auto;
}
.img{
    height: 40px;
    width: 80px;
    }
/*------Atributos------*/
.atributos{
    color: #000;
    background-color: #efefef;
    width: 90%;
    height: 8vh;
    display: flex;
    align-items: center;
    align-self: center;
    border-radius: 10px;
    justify-content: space-around;
}
.atributo{
    width: 20%;
    text-align: center;
}

.agregar{
    width: 15vw ;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn_add{
    width: 90px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add {
    position: relative;
    width: 60%;
    padding-top: 60%;
    background-color: #0f0;
    border-radius: 15px;
    cursor: pointer;
}

.svg_add{
    position: absolute;
    width: 80%;
    height: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



 /*-------------------------------------Las tablas que se veen-----------------------------------------------------------*/

.actividades{
    color: #000;
    background-color: #fff;
    width: 90%;
    min-height: 8vh;
    display: flex;
    align-items: center;
    align-self: center;
    border-radius: 10px;
    border:1px #000 solid ;
    justify-content: space-around;
    margin: 2% 0;
    overflow: hidden;
    white-space: normal;
}
.actividad{
    width: 20%;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
}
.btns{
    width: 7vw;
    height: 8vh;
    margin: auto; 
    display: flex;
}

.btn_edit, .btn_del{
    width: 45%;
    height: 70%;
    display: flex;
    margin: auto;
    border-radius: 20px;
    
}
.btn_edit{
    background-color: #0af;
    margin: auto;
}
.btn_del{
    background-color: #f00;    
}

.edit, .del{
    width: 50%;
    height: auto;
    margin: auto;
}

/*-------agregar---------------------------------------------------------------
-------------------------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------------------*/
.agrega{
    width: 80vw;
    height: 100vh;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    color: #000;
    transition: ease 1s;
    transform: translateX(-2000px);
    z-index: 100;
}
.agrega .cerrar{
    height: 3em;
    width: 3em;
    background-color: red;
    cursor: pointer;
    transition: all 1s;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    align-self: end;
}
.cerrar .img_cerrar{
    height: 100%;
    width: 100%;
}
.agrega .form{
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 90%;
    border: #000 solid 2px;
    border-radius: 10px;
    background-color: #efefef;
}

.form .h1{
    text-align: center;
    margin-bottom: 10%;
}

.form .input,.label, .textarea{
    width: 80%;
    margin: auto;
    border-radius: 15px;
}
.form .input{
    height: 2rem;
    font-size: 20px;
    margin-top: 1%;
    outline: none;
    border: none;
    box-shadow: 0 2px 1px 0px #000;
    text-indent: 10px;
}
.form .label{
    font-size: 20px;
    margin-bottom: 0;
    text-align: center;
}
.form .textarea{
    margin: auto;
    font-size: 20px;
    margin-top: 1%;
    outline: none;
    border: none;
    text-indent: 10px;
}

.form .select{
    width: 80%;
    height: 2rem;
    font-size: 20px;
    margin: 1% auto 0;
    outline: none;
    border: 1px solid #000;
    border-radius: 15px;
    text-indent: 10px;
}



/* Estilo básico del botón */
.custom_file_upload {
    background-color: #fff;
    cursor: pointer;
    color: #484a4bc0;
    border-radius: 5px;
    font-size:20px;
}


/* Estilo oculto del elemento de entrada de archivo */
.hidden {
display: none;
}
.fileSelected {
    background-color: #c0c0c0;
}

/*------form batns--------*/
.agrega .form .div_btns{
    width: 60%;
    height: 2.5rem;
    display: flex;
    justify-content: space-around;
    margin: auto;
}
.div_btns{
    margin-top: 2%;
}
.div_btns .button{
    display: flex;
    font-size: 20px;
    border-radius: 10px;
    align-items: center;
    background: #2e5287;
    color: #fff;
    border: #999 solid 1px;
    cursor: pointer;
}
.button .svg{
    margin: 0 2px;
}

.btn_cancelar .svg{
    fill: #f00;
}
.btn_agregar .svg{
    background-color: #0f0;
    fill: #fff;
    border-radius: 50%;
}


/*--------------------------------------------------------------------------
--------------------------------------------------------------------------
media querys
--------------------------------------------------------------------------
--------------------------------------------------------------------------*/

.cont_tabla{
    display: none;
}
.add_m{
    display: none;
}


@media screen and (min-width: 767px) and (max-width: 1200px) {
.tabla_mobile{
    width: 60%;
}
.tabla_mobile_cerrada{
    width: 60%;
}
}

@media screen and (min-width:0px) and (max-width: 1200px){


.agrega{
    width: 100%;
}

.agrega .form{
    width: 90%;
}



.tabla{
    display: none;
}

.add_m {
    display: flex;
    position: relative;
    width: 90%;
    padding-top: 10%;
    background-color: #5c5;
    border-radius: 10px;
    cursor: pointer;
    margin: 20px auto;
}

.svg_add_m{
    position: absolute;
    width: 80%;
    height: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.cont_tabla{
    display: flex;
    width: 100vw;
    height: auto;
    margin: 2rem 0;
}

.tabla_mobile{
    width: 80%;
    height: auto;
    margin: auto;    
    transition: .5s ease ;
}

.fila1{
    background-color: #b8b8b8;
    display: flex;
    width: 40%;
    height: 2.5rem;
    margin: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.fila1 .actividad_mobile{
    display: flex;
    flex: 1;
    
}
.fila1 .p{
    margin: auto;
    font-weight: bold;
}
.act_localidad{
    border-left: #000 1px solid;
}
.act_deporte{
    border-right: #000 1px solid;
}


.fila2{
    background-color: #efefef;
    width: 100%;
    height: 2.5rem;
    display: flex;
    flex-direction: column;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    align-items: center;
    transition: .5s ease ;
}
.fila2 .p{
    font-size: 0px;
}
.fila2 .h1{
    font-size: 30px;
    transition: .5s ease ;
}
.activo{
    height: auto;
    transition: .5s ease ;
}
.activo .p{
    font-size: 18px;
}
.activo .h1{
    font-size: 0px;
    transition: .5s ease ;
}

.activo .actividad_m{
    width: 90%;
    min-height: 2rem;
    display: flex;
    font-size: 18px;
    background: #fff;
    align-items: center;
    border: 1px solid #000;
    border-radius: 12px;
    margin: 5px auto;
    transition: .5s ease ;
    text-indent: 2px;
}

.actividad_m .p{
    width: 80%;
    min-height: 1rem;
    padding: 6px 0;
}
.actividad_m .izquierda{
    width: 30%;
    font-weight: bold;
}

.actividad_m .derecha{
    text-align: left;
}

.fila3{
    background-color: #fff;
    width: 100%;
    height: 3rem;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    border: 1px #ccc solid;
    box-sizing: border-box;
}

.fila3 .espacio{
    display: flex;
    flex: 1;
    background-color: #fff;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.fila3 .edit_m{
    background-color: #50a3a0;
    width: 40px;
    height: 90%;
    padding:0 5px;
    border-radius: 10px;
}

.fila3 .del_m{
    background-color: #cf4c69;
    width: 40px;
    height: 90%;
    padding: 0 5px;
    border-radius: 10px;
}

.btn_arriba_abajo .arriba, .abajo{
    width: 40px;
    height: 90%;
    border-radius: 50%;
    fill: #000;
    cursor: pointer;
    transition: .5s ease;
}

.btn_arriba_abajo .arriba{
    transform: rotate(180deg);
}

}



@media screen and (min-width: 0px) and (max-width: 500px){

.tabla_mobile{
    width: 95%;
}

.fila1 .p, .activo .p{
    font-size: .9rem;
}
.activo .actividad_m{
    text-indent: 2px;
}

}   
