*{
  margin: 0;
  padding: 0;
}

.footer {
  background-color: #222233;
  min-height: 35vh;
  height: auto;
  flex-wrap: wrap;
  width: 100vw;
  display: flex;
}
.dinamo {
  min-height: 35vh;
  width: 25vw;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.dinamo h4 {
  color: white;
  margin: 2rem auto;
  font-size: 30px;
}
.dinamo p {
  color: white;
  margin: .8rem auto;
}
.logo {
  height: 35vh;
  width: 30vw;
  display: inline-block;
}
.logo .cont-img {
  height: 100%;
  width: 100%;
}
.logo .cont-img img {
  width: 100%;
  height: 100%;
}
.logo .redes {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 1em;
}
.logo .redes a {
  color: white;
}
.logo .redes a:hover {
  cursor: pointer;
  color: #2196fe;
}
.contacto {
  color: gray;
  min-height: 35vh;
  width: 25vw;
  height: auto;
  display: flex;
  margin: auto;
}
.contacto .cosas{
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: auto;
}

.copyright {
  height: 5vh;
  width: 100vw;
  background-color: black;
  color: #ffffff;
  text-align: center;
}
