
.footer {
  background-color: #222233;
 
  height: 40vh;
  flex-wrap: wrap;
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto;
}
.dinamo {
 
  height: auto;
  flex-wrap: wrap;
  width: 25vw;
  text-align: center;
  display: inline-block;
}
.dinamo h4 {
  color: white;
  padding: 1em;
  width: fit-content;
  margin: 0;
  margin: auto;
}
.dinamo p {
  color: white;
  margin: 0;
  width: fit-content;
  margin: auto;
}
.logo {
  height: auto;
  width: 30vw;
  display: inline-block;
}
.logo .img {
  height: 25vh;
  width: 100%;
}
.logo .img img {
  width: 100%;
  height: 100%;
}
.logo .redes {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 1em;
  POSITION: relative;
}
.logo,.redes, .social-icone {
  color: white;
}
.logo .redes a:hover {
  cursor: pointer;
  color: #2196fe;
}
.contacto {

  height: auto;
  flex-wrap: wrap;
  width: 25vw;
  display: inline-block;
  color: rgb(232, 232, 232);
  text-align: center;
padding-top: 4%;
}
.footer, h3{
font-size: medium;
padding-top:3% ;

}
.social-icone {
  display: inline-block;
  margin: 0 10px;
  font-size: 24px;
  color: #333;
  text-decoration: none;
  transition: transform 0.3s ease;
}
.social-icone:hover {
  transform: scale(1.5); /* Escala el ícono al 120% */
}
.zoom:hover {
  transform: scale(1.1); /* Escala el ícono al 120% */
}


/* Estilos para los pseudo elementos en la animación */
.social-icone::before,
.social-icone::after {
  content: '';
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0); /* Color transparente de fondo */
z-index: -1; /* Detrás del ícono principal */
margin-top: 150%;
}

/* Animación al pasar el mouse */
.social-icone:hover::before {
  background-color: rgba(255, 255, 255, 0.89); /* Color de fondo con transparencia */
  justify-content: center;
  align-items: center;
  height: 0.1vh;

}

.social-icone:hover::after {
  background-color: rgba(193, 60, 60, 0.0); /* Color de fondo con transparencia */
  justify-content: center;
  align-items: center;
  height:0.1vh;
  }

.copyright {
  height: 5vh;
  width: 100%;
  background-color: black;
  color: #ffffff;
  text-align: center;
}

span{

font-size: small;
}




@media screen and (min-width:700px) and (max-width:900px){
.footer {
  background-color: #222233;
  height: 35vh;
  flex-wrap: wrap;
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto;
}
.footer, h3{
  font-size: small;
  padding-top:3% ;
  
    }
    .logo .redes {
   
      margin-top: 0em;
  }
    
  .logo .img {
    height: 14vh !IMPORTANT;
    width: 100%;
}


    }

    @media screen and (min-width:600px) and (max-width:700px){

      .footer, h3{
        font-size: small;
        padding-top:3% ;
        
          }
          .footer {
            background-color: #222233;
            height: 28vh;
            flex-wrap: wrap;
            width: 100%;
            display: grid;
            grid-template-columns: auto auto auto;
        }
        .logo .redes {
   
          margin-top: 0em;
      }
      .logo .img {
        height: 14vh !IMPORTANT;
        width: 100%;
    }
          }

    @media screen and (min-width:400px) and (max-width:600px){

      .footer, h3{
        font-size: 9px;
        padding-top:1% ;

            } 
            .footer {
              background-color: #222233;
              height: 28vh;
              flex-wrap: wrap;
              width: 100%;
              display: grid;
              grid-template-columns: auto auto auto;
          }
          .logo .redes {
   
            margin-top: 0em;
        }
        .logo .img {
          height: 14vh !IMPORTANT;
          width: 100%;
      }
        }
    
    

@media screen and (min-width:0px) and (max-width:400px){
.footer, h3{
  font-size: 9px;
  padding-top:3% ; }

  .footer {
    background-color: #222233;
    height: 21vh;
    flex-wrap: wrap;
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
}
.logo .redes {
   
  margin-top: 0em;
}
.logo .img {
height: 14vh !IMPORTANT;
width: 100%;
}
}  
.logo .img {
  height: 20vh;
  width: 100%;
}

