.titulo{
    padding-top: 180px;
    display: flex;
    justify-content: center;

}
.formuimg{
    height: 80px;
    margin-left: 5px;
}
.form_h1 {
    text-align: center;
    padding-bottom: 5%;
    
    font-size: 65px;
    text-shadow: 2px 4px 5px #777;
    color: #f5d54e;
}
.formulario {
    height: auto;
    width: 100%;
    background-color: #f6f6f6c9;
    padding-bottom: 80px;
}

.form {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color: #5888cfdf;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 5px 30px 0px #000a;
    color: #eee;
}

.medico{
padding-top: 20px;
display: flex;
flex-direction: column;
width: 100%;
}

.medico1{
display: flex;   
align-items: center;
}

.sexo{
padding-top: 10px;
padding-bottom: 10px;
display: flex;
flex-direction: row;
align-items: center;
}

.enfermedades{
display: flex;
flex-direction: row;  
align-items: center;  
}
.enfermedades .p{
    width: auto;   
}
.enfermedades .form_input{
    width: 40px; 
}
.diabetes,.hipertension,.asma{
display: flex;    
align-items: center;
}


.form .form_label,.form_input {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 2rem;
}
.form .form_label{
    margin-top: 1%;
    font-size: 18px;
    font-weight: bold;
}

.form .form_input{

    margin-bottom: 1%;
    border: none;
    outline: none;
    transition: all ease-out .2s;
    background-color: #f8f8f8;
    border-bottom: #000 solid 1px;
    color: #66666dee;
    text-align: center;
}

.form_input:focus{
    background-color: #fff9;
    border-radius: 10px;
    border: none;
    text-align: left;
    padding-left: 10px;

}

.form_input::-webkit-inner-spin-button {
    display: none;
}
.form_input::-webkit-outer-spin-button {
    display: none;
}

.form .form_btns{
    width: 90%;
    height: 2rem;
    display: flex;
    justify-content: space-around;
    margin-top: 5%;
    transition: transform 0.3s ease;
}


.form_btn_check{
    fill: #09ff00;
}
.form_btn_cancel{
    display: flex;
    fill: #f00404;
    border-radius: 50%;
}
.form .form_button{
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #2e5287ee;
    color: white;
    border: none;
    cursor: pointer;
    border-radius:6px;
    padding: 0 0 0 5px;
}
.form_button:hover {
    transition: all linear .2s;
    transform: scale(1.1); /* Escala el ícono al 120% */
    background-color: #2191af;
    box-shadow: #000 0 0 10px 1px;
    border-radius: 5px;
  }
 


@media screen and (min-width:1200px) and (max-width:1450px){

.form_btn_check{
    flex: 2 1;
}
.form_btn_cancel{
    flex: 2 1;
}
}


@media screen and (min-width:700px) and (max-width:900px){
.form_h1 {
    text-align: center;
    font-size: 50px;
}



.form .form_label{
    margin-top: 1%;
    font-size: 14px;
    font-weight: bold;
    width: 100%;
}
.volver .form_button{

    height: 4vh;
    width: 15vw;
    border-radius:10px ;
    }
}

@media screen and (min-width:600px) and (max-width:700px){


    
.form_h1{
 font-size: 40px;
}
.formuimg{
    height: 60px;
    margin-left: 5px;
}

.form .form_label{
    font-size: 15px;
    width: 100%;
}

.form .form_input{
    height:4vh;
    width: 90%;
}  

}


@media screen and (min-width:400px) and (max-width:600px){
.form_h1{

font-size: 27px;
}
.form{
    width: 60%;
}

.formuimg{
    height: 50px;
    margin-left: 5px;
}


.form .form_label{
font-size: 15px;
width: 150%;
}

.form .form_input{
    height:4vh;
    width: 100%;
}   
.form .form_button{
    width: 80px;
    margin-left: 5px;
}

}
        
        

@media screen and (min-width:0px) and (max-width:400px){
.form{
width: 60%;
}
    
.titulo{
flex-direction: column-reverse;
align-items: center;
}
.form_h1{
font-size: 30px;
}
        
.formuimg{
height: auto;
width: 70px;
margin-left: 15px;
}

.form .form_label{
font-size: 12px;
width: 170%;
}
    
.form .form_input{
height:4vh;
width: 130%;
}   
.form .form_button{
width: 80px;
margin-left: 5px;
}
}
    