
body{
    background-color: #fff;
}

.fila{
    display: flex;
}

.crear{
    display: flex;
    height: auto;
    width: 80vw;
    flex-direction: column;
}
.cont_tabla{
    display: none;
}


.barra{
    background-image: radial-gradient(circle at center, #12be96 0%, #05a2bc 100%);
    width: 20vw;
    max-width: 280px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
svg{
    fill: #fff;
}

.logo{
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;

}
.img{
  width: 100%;
  padding-top: 100%;
  background-color: #fff;
  position: relative;
  margin: 5% auto;
  border-radius: 50%;
}


.cont_mueve{
    position: relative;
    width: 100%;
    height: 20rem;
}
.mini_cont{
    width: 100%;
    height: 5rem;
}

.cosas{
    width: 85%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cosas :first-child{
    margin-top: 5rem;
}
.cosas .elem{
    display: flex;
    height: 5rem;
    width: 100%;
}
.cosas .elem .h1{
    font-size: 30px;
    margin: auto;
    cursor: pointer;
}
.cosas{
    color: #fff;
}
.cosas .activo{
    background-color: #fff;
    border-radius: 40px;
}

.cosas .activo >h1>.btn_aside{
    color: #12be96
}




@media screen and (min-width:0px) and (max-width: 1200px){

.fila{
    background-color: #aff;
    flex-wrap: wrap;
    height: auto;
}
.barra{
    width: 100%;
    max-width: none;
    height: 20vh;
    flex-direction: row;

}
.logo{
    min-width: 175px;
    max-width: 175px;
}


.cosas{
    width: 80vw;
    height: 100%;
    flex-direction: row;
    justify-content: space-around;
}
.cosas .elem{
    width: 23%;
}
.cosas :first-child{
    margin-top: 0;
}

.crear{
    width: 100vw;
    height: auto;
    flex-direction: column;
}
}