.icon_close {
  width: 45px;
  height: 45px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  background: #284369;
  color: #ffffff;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 10px;
  cursor: pointer;
}
.close {
  width: 50%;
  height: 50%;
}

.fullheader{
  position: fixed;
  width: 100%;
  z-index: 100;
}
.header {
  height: 12vh;
  width: 100%;
  background: rgb(49, 85, 135);
  background: linear-gradient(90deg, rgba(49, 85, 135) 13%, rgba(169, 182, 200) 73%);
  opacity: 95%;
}
.menu{
  display: flex;
  justify-content: right;
  display: none;
}
.menuimg1{
  margin-left: 1%;
  height: 25px;
}
.menuimg2{
  margin-left: 1%;
  height: 25px;
}

.menu1, .menu2{
  border: solid 1px;
}
.menu1{
  border-top-left-radius: 15px;
}
.menu2{
  border-bottom-left-radius: 15px;
}
.div_img {
  height: 100%;
  width: 30vh;
  margin-left: 1%;
  display: inline-block;
}

.div_img .img {
  width: 150px;
  height: 100%;
  margin-left: 4%;
}

.localidad {
  height: 90%;
  width: 10vh;
  background-color: #FDE68A;
  margin-top: auto;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  display: inline-block;
  float: right;
  margin-right: 1%;
  margin-top: 1%;   
}

.localidad .img {
  width: 81%;
  height: 100%;
  padding: 5%;
  margin-left: 5%;
  
}

.funcionario {
  height: 90%;
  width: 10vh;
  background-color: #FDE68A;
  margin-top: auto;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  display: inline-block;
  float: right;
  margin-right: 1%;
  margin-top: 1%;
  
}
.menu .dropdown_content{
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;

}
.zoom {
  display:table-cell;
  transition: transform 0.3s ease;
  width: auto;
}
.funcionario .img {
  width: 90%;
  height: 87%;
  padding: 5%;
  
}

.barra_redes {
  background-color: #FDE68A;
  height: 1vh;
  width: auto;
}

.div_redes {
  background-color: #FDE68A;
  height: 6vh;
  width: 15vw;
  margin-left: 1.5rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  display: flex;
  justify-content: space-around;
  z-index: 30;
  align-items: center;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.div_redes .a {
  padding: 0.0em;
  color: black;
  margin: 0;
  margin-top: 8%;
}

.div_redes .a .img{
  width: 120%;
}

.social_icon {
  display: inline-block;
  font-size: 24px;
  color: #333;
  text-decoration: none;
  transition: transform 0.3s ease;
}
    

/* Estilos para la animación al pasar el mouse */
.social_icon:hover {
  transform: scale(1.5); /* Escala el ícono al 120% */
}
.zoom:hover {
  transform: scale(1.1); /* Escala el ícono al 120% */
}


/* Estilos para los pseudo elementos en la animación */
.social_icon::before,
.social_icon::after {
  content: '';
  position: fixed;
  width: 120%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0); /* Color transparente de fondo */
  z-index: -1; /* Detrás del ícono principal */
  margin-top: 160%;
}

/* Animación al pasar el mouse */
.social_icon:hover::before {
  background-color: rgba(0, 0, 0, 0.89); /* Color de fondo con transparencia */
  justify-content: center;
  align-items: center;
  height: 0.1vh;

}

.dropdown_content {
  display: none;
  position: absolute;
  background-color: #fff;
  border: 1px solid #ccc;
  min-width: 150px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 12vh;
}

.dropdown_content .a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #333;
}

.menu:hover .dropdown_content {
  display: block;
}












/* -----------Login Funcionarios */

.login_funcionarios {
  max-width: 264px;
  height: auto;
  z-index: 400;
  position: absolute;
  text-align: center;
  transform: translateX(-1000px);
  transition: all 1s;

}
.login_funcionarios.show {
  max-width: 264px;
  height: auto;
  z-index: 400;
  position: absolute;
  background: #efefef;
  transform: translate(0px, 0px);
  transition: all 1s ease;
  border-radius: 10px;
  text-align: center;
  margin: 5px;
}

.cont_logo{
  height: 20vh;
  width: 70%;
  margin: auto;
  margin: 1em auto;
  display: flex;
}
.cont_logo .cont_img{
  display: flex;
  height: auto;
  width: 80%;
  margin: auto;
}
.cont_img .img {
  width: 100%;
  height: 100%;
}

.login_funcionarios .h2{
  margin: 10% auto 0;
  font-size: larger;
}


.form {
  width: 100%;
  height: 50%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

/*Input 1*/

.form .input1 {
  width: 70%;
  height: 2rem;
  margin: 1rem auto;
}
.form .input {
  width: 100%;
  height: 2rem;
  background: none;
  color: #333;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: #777 solid 1px;
  outline: 0px;
  overflow: hidden;
}
.form .lbl_nombre {
  position: absolute;
  width: 70%;
  height: 2rem;
  margin: 1px 0 0 -70%;
  pointer-events: none;
  overflow: hidden;
}
.input:focus {
  border-bottom: none;
}
.form .lbl_nombre:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  border-bottom: 3px solid #2ecece;
  transform: translateX(-100%);
  transition: all 0.3s ease;
}
.text_nomb {
  position: absolute;
  bottom: 5px;
  left: 0;
  transition: all 0.3s ease;
  color: #333;
}
.form .input:focus+.lbl_nombre .text_nomb,
.form .input:valid+.lbl_nombre .text_nomb {
  transform: translateY(-150%);
  font-size: 14px;
  color: #2ecece;
}
.form .input:focus+.lbl_nombre:after,
.form .input:valid+.lbl_nombre:after {
  transform: translateX(0%);
}

/*Icono del input 1*/

.cont_ico{
  width: 20px;
  height: 20px;
  margin-top: -2rem;
  margin-left: 85%;
}


.cont_ico .ico1 {
  height: 20px;
}






/*Input 2*/

.form .input2 {
  width: 70%;
  height: 2rem;
  margin: 1rem auto;
}
.form .input {
  width: 100%;
  height: 2rem;
  background: none;
  color: #333;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: #777 solid 1px;
  outline: 0px;
  overflow: hidden;
}
.form .lbl_nombre2 {
  position: absolute;
  width: 70%;
  height: 2rem;
  margin: 1px 0 0 -70%;
  pointer-events: none;
  overflow: hidden;
}
.input:focus {
  border-bottom: none !important;
}
.form .lbl_nombre2:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  border-bottom: 3px solid #2ecece;
  transform: translateX(-100%);
  transition: all 0.3s ease;
}
.text_nomb2 {
  position: absolute;
  bottom: 5px;
  left: 0;
  transition: all 0.3s ease;
  color: #333;
}
.form .input:focus+.lbl_nombre2 .text_nomb2,
.form .input:valid+.lbl_nombre2 .text_nomb2 {
  transform: translateY(-150%);
  font-size: 14px;
  color: #2ecece;
}
.form .input:focus+.lbl_nombre2:after,
.form .input:valid+.lbl_nombre2:after {
  transform: translateX(0%);
}

/*Iconos del input 2*/


.cont_ico{
  width: 20px;
  height: 20px;
  margin-top: -1.5rem;
}


.cont_ico .ico2 {
  height: 20px;
}



/*saca el border-bottom del input*/
.form .input:focus,
.form .input:valid {
  border: none;
  
}

/*Boton*/

.cont_btn_login {
  width: auto;
  margin: auto;
  display: flex;
  border-width: 0;
  margin: 2rem auto;

}

.boton_login {
  width: 6rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2e5287;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 15px;
  box-shadow: 0 0 10px 0px #fff;
  cursor: pointer;
}

.boton_login:hover {
  background-color: #26ccca;
  box-shadow: #777 0 0 10px 0px;
  color: #333;
}

















@media screen and (min-width:1500px){


.div_redes {
  width: 10vw;
}


}

@media screen and (min-width:1300px) and (max-width:1500px){
.div_redes {
  width: 11vw;
}  
}






@media screen and (min-width:1200px) and (max-width:1300px){

.div_redes {
  width: 13vw;
}

}


@media screen and (min-width:700px) and (max-width:1100px){

.funcionario, .localidad{

  height: 95%;
  
}
}




@media screen and (min-width:700px) and (max-width:900px){

.localidad,.localidad .img, .funcionario , .funcionario .img,.div_redes{
  display: none;
}

.header{
  display: flex;
}

.zoom {
  display: flex;
  width: auto;
  height: 80%;
  align-self: center;
  justify-self: end;
  margin: 0 5% 0 0 ;
}
.menu{
  display: flex;
  width: auto;
  margin-right: 0%;
  flex: 1 1;
}

}


@media screen and (min-width:600px) and (max-width:700px){


.localidad,.localidad .img, .funcionario , .funcionario .img,.div_redes{
display: none;
}
.header{
  display: flex;

}
.zoom {
  display: flex;
  width: auto;
  height: 80%;
  align-self: center;
  justify-self: end;
  margin: 0 5% 0 0 ;
}
.menu{
  display: flex;
  width: auto;
  margin-right: 0%;
  flex: 1 1;
}

}


@media screen and (min-width:400px) and (max-width:600px){


.localidad,.localidad .img, .funcionario , .funcionario .img,.div_redes{
  display: none;
}
.header{
  display: flex;
}
.zoom {
  display: flex;
  width: auto;
  height: 80%;
  align-self: center;
  justify-self: end;
  margin: 0 5% 0 0 ;
}
.menu{
  display: flex;
  width: auto;
  margin-right: 0%;
  flex: 1 1;
}


}
      
      

@media screen and (min-width:0px) and (max-width:400px){


.localidad,.localidad .img, .funcionario , .funcionario .img,.div_redes{
display: none;
}
.header{
  display: flex;

}
.zoom {
  display: flex;
  width: auto;
  height: 70%;
  align-self: center;
  justify-self: end;
  margin: 0 5% 0 0 ;
}
.menu{
  display: flex;
  width: auto;
  margin-right: 0%;
  flex: 1 1;
}

}
  