*{
    padding: 0;
    margin: 0;
}

.deporte{
    display: flex;
    width: 12%;
    padding-top: 12%;
    padding: 5px;
    border: 4px #000 solid;
    border-radius: 40px;
    margin: 20px 10px;
    text-align: center;
    transition: all ease .3s;
}
.deporte:hover{
    transform: scale(1.1);
    box-shadow: #aaa 0 0 10px 0px;

}
.deporte .cont{
    width: 100%;
    height: 100%;
}
.deporte .cont p{
    height: 20%;
    font-size: 80%;
}
.img{
    width: 80%;
    height: 80%;
}



@media screen  and (min-width:700px) and (max-width:900px){
.deporte{
    width: 20%;
    padding-top: 20%;
    padding: 10px;
}
}

@media screen and (min-width:636px) and (max-width:700px){

    .deporte{
        width: 30%;
        padding-top: 30%;
        padding: 10px;
        margin: 10px auto;
    }

}

@media screen and (min-width:0px) and (max-width:636px){

    .deporte{
        width: 30%;
        padding-top: 30%;
        padding: 10px;
        margin: 10px auto;
    }
    
}