.login-funcionarios {
    max-width: 264px;
    height: auto;
    z-index: 400;
    position: absolute;
    text-align: center;
    transform: translateX(-1000px);
    transition: all 1s;

}
.login-funcionarios.show {
    max-width: 264px;
    height: auto;
    z-index: 400;
    position: absolute;
    background: #efefef;
    transform: translate(0px, 0px);
    transition: all 1s ease;
    border-radius: 10px;
    text-align: center;
    margin: 5px;
}

.icon-close {
    width: 45px;
    height: 45px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    background: #284369;
    color: #ffffff;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 10px;
    cursor: pointer;
}
.close {
    width: 50%;
    height: 50%;
}

.cont_logo{
    height: 20vh;
    width: 70%;
    margin: auto;
    margin: 1em auto;
    display: flex;
}
.cont_logo .img{
    display: flex;
    height: auto;
    width: 80%;
    margin: auto;
}
.img img {
    width: 100%;
    height: 100%;
}

.login-funcionarios h2{
    margin: 10% auto 0;
    font-size: larger;
}


.form {
    width: 100%;
    height: 50%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

/*Input 1*/

.form .input1 {
    width: 70%;
    height: 2rem;
    margin: 1rem auto;
}
.form .input {
    width: 100%;
    height: 2rem;
    background: none;
    color: #333;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: #777 solid 1px;
    outline: 0px;
    overflow: hidden;
}
.form .lbl-nombre {
    position: relative;
    width: 100%;
    height: 2rem;
    margin-top: -2rem;
    pointer-events: none;
    overflow: hidden;
}
input:focus {
    border-bottom: none !important;
}
.form .lbl-nombre:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    border-bottom: 3px solid #2ecece;
    transform: translateX(-100%);
    transition: all 0.3s ease;
}
.text-nomb {
    position: absolute;
    bottom: 5px;
    left: 0;
    transition: all 0.3s ease;
    color: #333;
}
.form input:focus+.lbl-nombre .text-nomb,
.form input:valid+.lbl-nombre .text-nomb {
    transform: translateY(-150%);
    font-size: 14px;
    color: #2ecece;
}
.form input:focus+.lbl-nombre:after,
.form input:valid+.lbl-nombre:after {
    transform: translateX(0%);
}

/*Icono del input 1*/

.cont_ico{
    width: 20px;
    height: 20px;
    margin-top: -2rem;
    margin-left: 85%;
}


.cont_ico .ico1 {
    height: 20px;
}






/*Input 2*/

.form .input2 {
    width: 70%;
    height: 2rem;
    margin: 1rem auto;
}
.form .input {
    width: 100%;
    height: 2rem;
    background: none;
    color: #333;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: #777 solid 1px;
    outline: 0px;
    overflow: hidden;
}
.form .lbl-nombre2 {
    position: relative;
    width: 100%;
    height: 2rem;
    margin-top: -2rem;
    pointer-events: none;
    overflow: hidden;
}
input:focus {
    border-bottom: none !important;
}
.form .lbl-nombre2:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    border-bottom: 3px solid #2ecece;
    transform: translateX(-100%);
    transition: all 0.3s ease;
}
.text-nomb2 {
    position: absolute;
    bottom: 5px;
    left: 0;
    transition: all 0.3s ease;
    color: #333;
}
.form input:focus+.lbl-nombre2 .text-nomb2,
.form input:valid+.lbl-nombre2 .text-nomb2 {
    transform: translateY(-150%);
    font-size: 14px;
    color: #2ecece;
}
.form input:focus+.lbl-nombre2:after,
.form input:valid+.lbl-nombre2:after {
    transform: translateX(0%);
}

/*Iconos del input 2*/


.cont_ico{
    width: 20px;
    height: 20px;
    margin-top: -2rem;
    margin-left: 85%;
}


.cont_ico .ico2 {
    height: 20px;
    margin-top: -2rem;
}



/*saca el border-bottom del input*/
.form input:focus,
.form input:valid {
    border: none;
    
}

/*Boton*/

.cont_btn_login {
    width: auto;
    margin: auto;
    display: flex;
    border-width: 0;
    margin: 2rem auto;

}

.boton_login {
    display: flex;
    font-size: 15px;
    width: 6rem;
    height: 2rem;
    background-color: #395B8B;
    color: white;
    border: none;
    border-radius: 10px;
    align-items: center;
    box-shadow: 0 0 10px 0px #fff;
}

.boton_login:hover {
    background-color: #139;
    box-shadow: #777 0 0 10px 0px;
}







