:root {
	--primario: #FDE68A;
	--gris-claro: #B8B8B8;
	--sombra: 0 0 13px 0 rgba(185,185,185, .25);
}



.titulo {
	color: #3a3a3a;
	font-weight: 700;
	text-align: center;
	margin: 60px 0;
}
.todo{
	width: 90%;
}
.centrado{
	display: flex; 
	justify-content: center;
}


.titulos{
	margin-bottom: 5vh;
	width: 100%; 
	padding-top: 12vh;
}
.imagen{
	display: flex;
	justify-content: center;
	padding-top: 5vh;
}
.imagen .preguntado{
width:200px ;

}

.titulos .h3{ 
	font-size: medium;
}
.titulos .h1{
	margin-top: 0;
	font-size: 40px; 
	margin-bottom: 17px;
}
.contacto .h1{
	font-size:xx-large; 
	text-align:center; 
	margin-top: 7vh;
	margin-bottom: 6vh;
}
.contacto{
	margin-bottom: 5vh;
}
.contenedor_preguntas {
	display: none;
	grid-template-columns: 1fr;
	gap: 40px;
	transition: .3s ease all;
}

.contenedor_preguntas.activo {
	display: grid;
}

.contenedor_pregunta {
	background: #4c79ba;
	padding: 40px;
	border: 2px solid transparent;
	border-radius: 10px;
	overflow: hidden;
	cursor: pointer;
	height: 2vh;
	transition: .3s ease all;
	margin-bottom: 3vh;
}

.contenedor_pregunta:hover {
	box-shadow: var(--sombra);
}

.contenedor_pregunta.activa {
	border: 2px solid var(--primario);
	height: auto;
	transition: .3s ease all;
}



.pregunta {
	font-weight: 700;
	font-size: 20px;
	line-height: 20px;
	color: aliceblue;
	display: flex;
	justify-content: space-between;
	align-items: center;
	transition: .3s ease all;
}

.pregunta img {
	width: 14px;
}

.respuesta {
	color: #ffffff;
	line-height: 30px;
	height: auto;
	opacity: 0;
	transition: .3s ease all;
}
.respuesta, .p {height: auto; }

.contenedor_pregunta.activa .respuesta {
	opacity: 1;
	margin-top: 20px;
}

.contenedor_pregunta.activa img {
	transform: rotate(45deg);
	fill:#4c79ba;
}

.contenedor_pregunta.activa img{
	fill:#4c79ba;
}







@media screen and (max-width: 500px){

	.contenedor_pregunta {
	padding: 22px;
  height: 6vh; 
}
}