
.Sports{
    background-color: #efefef;
    height: 50vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.target-sports{
    width: 25%;
    height: 90%;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 2px 2px 7px ;
    padding-bottom: 5px;
}
.target-sports .cont-img{
    background-color: #ececec;
    width: 100%;
    height: 75%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.cont-img img{
    margin: auto;
    width: 100%;
    height: 100%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    object-fit: cover;
}

.target-sports .text{
    background-color: #fff;
    flex: 1;
    width: 100%;
    text-align: center;
    transition: all 0.5s;
    display: flex;
    flex-direction: column;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    align-self: baseline;
}
.target-sports:hover .text{
    transform: translateY(-5vh);
    transition: all 0.5s;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.target-sports .text span{
 font-size: 1.5rem;
  color:gray;
  margin-top: 1em;
}
.target-sports .text a{
    width: 35%;
    height: 1.8rem;
    margin: auto;
    background-color: rgba(28, 53, 130, 0.81);
    font-size: 1.3rem;
    border-radius: 13px;
    /* color: #2196fe; */
    cursor: pointer;
}.target-sports .text a:hover{
    color: #000;
    background-color: rgb(165, 167, 233);
}


@media screen and (min-width:900px) and (max-width:1200px){
.target-sports{
    width: 35%;
}
}


@media screen and (min-width:636px) and (max-width:900px){
    
.target-sports {
    width: 40%;
    
}
   
}

@media screen and (min-width:500px) and (max-width:636px){

.Sports{
    height: 115vh;
    margin-left: 0;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
.target-sports:hover .text{
    transform: translateY(0);
}
.target-sports {
    width: 55%;
    height: 50%;
    margin-top: 10%;
}
.target2{
    margin-bottom: 10%;
}


}

@media screen and (min-width:450px) and (max-width:500px){
.Sports{
    height: 93vh;
    margin-left: 0;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
.target-sports:hover .text{
    transform: translateY(0);
}
.target-sports {
    margin-top: 10%;
    width: 55%;
    height: 50%;
}
.target1{
    margin-top: 25%;
}
.target2{
    margin-bottom: 30%;
}


}



@media screen and (min-width:400px) and (max-width:450px){
    
.Sports{
    height: 80vh;
    margin-left: 0;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
.target-sports:hover .text{
    transform: translateY(0);
}
.target-sports {
    margin-top: 10%;
    width: 55%;
    height: 50%;
}
.target1{
    margin-top: 20%;
}
.target2{
    margin-bottom: 20%;
}
}


@media screen and (min-width:0px) and (max-width:400px){
    
.Sports{
    height: 80vh;
    margin-left: 0;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
.target-sports:hover .text{
    transform: translateY(0);
}
.target-sports {
    margin: 10% 0;
    width: 55%;
    height: 50%;
    
}

.target-sports .text a{
    width: 55%;
}


}
        