.ver_mas{
    width: 100vw;
    height: auto;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    color: #000;
    transition: ease 1s;
    z-index: 100;
}
.ver_mas .icon_close{
    height: 3em;
    width: 3em;
    background-color: red;
    cursor: pointer;
    transition: all 1s;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    align-self: end;
}
.icon_close .img{
    height: 100%;
    width: 100%;
}
.ver_mas .form_m{
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 90%;
    border: #000 solid 2px;
    border-radius: 10px;
    background-color: #efefef;
}

.form_m .h1{
    text-align: center;
    margin-bottom: 10%;
}

.form_m .label_m{
    width: 80%;
    margin: auto;
    border-radius: 15px;
}

.form_m .label_m{
    font-size: 25px;
    margin-bottom: 0;
    text-align: center;
}


.form_m .label{
    width: 80%;
    min-height: 1.5rem;
    font-size: 20px;
    border: 1px solid #000;
    border-radius: 5px;
    margin: auto;
}



.form_m .img_m{
    max-width: 90%;
    min-height: 20vh;
    max-height: 40vh;
    margin: auto;
    margin-bottom: 20px;
    border: 2px solid #000;
    border-radius: 10px;
}